p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: red;
}
header {
    border: 10px solid lightblue;
    padding:10px;
    margin:50px;
    background-color: lightblue;
    background-clip: content-box;
}
nav {
    border: 10px solid blue;
    padding: 10px;
    margin: 50px;
    background-color: lightsalmon;
    background-clip: content-box;
}
main {
    border: 10px solid grey;
    padding: 10px;
    margin: 50px;
    background-color: lightgrey;
    background-clip: content-box;
}
