
header {
    border: 10px solid lightblue;
    padding:10px;
    margin:50px;
    background-color: lightblue;
    background-clip: content-box;
}
nav {
    border: 10px solid blue;
    padding: 10px;
    margin: 50px;
    background-color: lightsalmon;
    background-clip: content-box;
}
main {
    border: 10px solid grey;
    padding: 10px;
    margin: 50px;
    background-color: lightgrey;
    background-clip: content-box;
}
section {
    border: 10px solid grey;
    padding: 10px;
    margin: 50px;
    background-color: gold;
    background-clip: content-box;
}
article {
    border: 2px dotted lightgreen;
    padding: 10px;
    margin: 50px;
    background-color: lightgreen;
    background-clip: content-box;
}
aside {
    border: 10px solid grey;
    padding: 10px;
    margin: 50px;
    background-color: purple;
    background-clip: content-box;
}
footer {
    border: 10px solid grey;
    padding: 10px;
    margin: 50px;
    background-color: rgb(51, 50, 50);
    background-clip: content-box;
}