p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: red;
}
header {
    border: 10px solid lightblue;
    padding:10px;
    margin:50px;
    background-color: blue;
    background-clip: content-box;
}
nav {
    border: 10px solid lightsalmon;
    padding: 10px;
    margin: 50px;
    background-color: orange;
    background-clip: content-box;
}